This code: Load dataset, Check for missing values, drops all the rows with NaN values, Convert data types, Drop duplicates and Save cleaned dataset

In [21]:
# üîß Set up file paths for use in this notebook
from pathlib import Path

# Set the project root (C6_ML5/) two levels up from /Data/Processed/
PROJECT_ROOT = Path.cwd().parents[1]

# Define paths for raw and cleaned data
RAW_DATA_PATH = PROJECT_ROOT / "Data" / "Raw" / "Sample_Superstore.csv"
CLEANED_DATA_PATH = PROJECT_ROOT / "Data" / "Processed" / "cleaned_superstore.csv"
FEATURE_ENGINEERED_PATH = PROJECT_ROOT / "Data" / "Processed" / "feature_engineered_superstore.csv"

In [22]:
# Load Dataset with Correct Encoding

import pandas as pd

# Use ISO-8859-1 to avoid UnicodeDecodeError from special characters
df = pd.read_csv(RAW_DATA_PATH, encoding='ISO-8859-1')

print("‚úÖ Raw dataset loaded. Shape:", df.shape)
df.head()

‚úÖ Raw dataset loaded. Shape: (9994, 21)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [ ]:
# üîç Check for missing values in all columns

missing_counts = df.isnull().sum()
missing_counts = missing_counts[missing_counts > 0].sort_values(ascending=False)

if missing_counts.empty:
    print("‚úÖ No missing values found.")
else:
    print("‚ö†Ô∏è Missing values found in the following columns:")
    display(missing_counts)

    # Optionally also show percentage
    missing_percent = (missing_counts / len(df)) * 100
    display(missing_percent.round(2))

‚úÖ No missing values found.

In [25]:

# üßπ Drop rows with ANY missing value in any column
initial_shape = df.shape
df = df.dropna()

print(f"‚úÖ Dropped {initial_shape[0] - df.shape[0]} rows with missing values. Final shape: {df.shape}")

‚úÖ Dropped 0 rows with missing values. Final shape: (9994, 21)

In [28]:
# üìÜ Convert date columns
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

# üè∑Ô∏è Convert some string columns to categorical
category_columns = ['Ship Mode', 'Segment', 'Region', 'Category', 'Sub-Category']
for col in category_columns:
    df[col] = df[col].astype('category')

print("‚úÖ Converted date and categorical columns.")

‚úÖ Converted date and categorical columns.

In [ ]:
# Show missing values
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [ ]:
# üßΩ Drop duplicate rows (if any)
initial_shape = df.shape
df = df.drop_duplicates()
print(f"‚úÖ Dropped {initial_shape[0] - df.shape[0]} duplicate rows. Final shape: {df.shape}")

‚úÖ Dropped 0 duplicate rows. Final shape: (9994, 21)

In [33]:
# Save Cleaned Dataset
CLEANED_DATA_PATH.parent.mkdir(parents=True, exist_ok=True)
df.to_csv(CLEANED_DATA_PATH, index=False)